#addButton {
    
    background-color: #4a3933;
}
/* #796a3e */
.todoButton{

    /* margin-left: 10px; */
    height: 48px;
    width: 90px;
    border-radius: 0px;
    background-color: #4a3933;
}


.todoInput{
    margin: 10px;
    border-radius: 5px;
    width: 70%;
    padding: 10px;
    
}

li{
    padding: 10px;
}



.insta{
    color: #4a3933;
}


