#addButton {
    
    background-color: #4a3933;
    height: 45px;
    width: 70px;
    border: 0px;
}

#addButton:hover{
    color: #fff;
    background: url(../images/i12.webp);
    transition-delay: 50ms;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.todoInput{
    margin: 10px;
    border: 0px;
    border-radius: 5px;
    width: 70%;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    background: url(../images/i16.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #333333;
}

li{
    padding: 10px;
}
@media screen and (max-width: 900px) {

    #addButton{
        height: 35px;
        width: 50px;
    }

    #todoInput{

        width: 40%;
        height: 50px;
    }
}

