

body{
  background: url(./images/bg3.webp);
  /* background-color: violet; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 620px;
  color: aqua;
}



.myApp{
  color: #fff;
  text-align: center;
  
}