
h1{
  padding-top: 20px;
  padding-bottom: 15px;
  color: #f4f3f3;
  font-family: 'Itim', cursive;
  font-weight: 1000;
}
.myAppContent{

  background: url(./images/i5.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  width: 40%;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
  padding-top: 10px;
}

.myApp{

  background: url(./images/bg9.webp);
  height: 700px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

